In [1]:
import pandas as pd
import numpy as np
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [2]:
# Tree'nin düzgün çalışabilmesi için tüm verilerin sayısal olması gerekiyor bu yüzden yes no ve eğitim seviyesi
# verilerini sayısal olarak güncellemeliyim.
# Mapping yaparak ise boş gelen verilerin yerine NaN koyarak algoritmanın anlayabilmesini sağlayabilirim

In [3]:
duzeltme_yesno = {"Y":1, "N":0}
duzeltme_egitim = {"BS":0, "MS":1, "PhD":2}

df["IseAlindi"] = df["IseAlindi"].map(duzeltme_yesno)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_yesno)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_yesno)
df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_yesno)
df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(duzeltme_egitim)

df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [4]:
# IseAlindi columnu ayırıyorum

y = df["IseAlindi"]
x = df.drop(["IseAlindi"], axis=1)

x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [5]:
# Decision Tree oluşturma

classifier = tree.DecisionTreeClassifier()
classifier = classifier.fit(x,y)

In [6]:
# Prediction için 5 yıl deneyimli, şu an çalışan, eskiden 3 şirkette çalışmış eğitim seviyesi lisans ve top10 değil

print(classifier.predict([[5,1,3,0,0,0]]))

[1]

In [8]:
# 2 yıllık deneyim, şu an çalışmıyor, 7 şirkette çalışmış, top10 mezunu

print(classifier.predict([[2,0,7,0,1,0]]))

[0]

In [11]:
# 2 yıl deneyim, şu an çalışıyor, 7 şirkette çalışmış, top10 mezunu

print(classifier.predict([[2,1,7,0,1,0]]))

[1]

In [12]:
# 20 yıl deneyim, çalışmıyor, 5 şirket, top10 mezunu

print(classifier.predict([[20,0,5,1,1,1]]))

[1]